@import "buttons/main.scss";
@import "dropdown/main.scss";
@import "images/main.scss";
@import "loaders/main.scss";
@import "text_input/main.scss";
@import "toggles/main.scss";
@import "typography/main.scss";
@import "status-indicators/main.scss";
@import "buttons/responsive.scss";
@import "forms/main.scss";
.app-root table {
  border-collapse: collapse;
  background: transparent;
}

.app-root th,
.app-root td {
  background: transparent;
  color: inherit;
  border: none;
}